body{
  margin: 0;
  /* background-color: #f3e5d8; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 60px;
}
.container{
    height: 1550px;
    width: 40%;
    background-color: #f3e5d8;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    margin-left: 166px;
    margin-top: -38px;
}

.parent{
    width: 70%;
    background-color:#ffffff ;
   height:95%;
    border-radius: 10px;
    padding: 9px;
    margin: 15px;
}
.parent div{
    margin-bottom: 20px;
}
.image{
    height: 20%;
    border-radius: 10px;
    img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}
h2{
    color:#844933
}

.Preparation{
    background-color: #fff7fc;
    h2{
        color:  #973268;
      }
}

span{
color: rgb(91, 91, 91);
font-weight: bold;
}
table{
    width: 100%;
    border-collapse: collapse;
    td{
        border-bottom:solid 1px rgb(156, 153, 153);
        padding: 5px;
    }
}
@media (max-width:375px){
   .container ,.parent{
    width: 100%;
    margin: 0;
   }
   body{
    padding: 0;
   }

}
